<ion-header>
  <ion-navbar>
    <ion-title>Manual IPUC</ion-title>
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar..." animated="true" showcancelbutton="false"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img style="width:150px; height:100px; align-self:center" src="assets/img/logo-header.png"/>
  <ion-list>
    <button ion-item  text-wrap *ngFor="let item of items" (click)="openNavDetailsPage(item)" icon-start>
      <ion-item text-wrap text-justify><ion-icon [name]="item.icon" [ngStyle]="{'color': item.color}" item-start></ion-icon>{{ item.title }}</ion-item>
      <ion-item no-lines text-wrap text-justify text-xl-justify *ngFor="let item1 of item.description">
          
          {{ item1.p }}
        </ion-item>
    </button>
    
  </ion-list>
</ion-content>



